@import '~antd/dist/antd.css';

.ant-table-content {
  font-size: 13px;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 5px;
  word-break: keep-all;
}

.ant-card-body {
  min-height: 200px;
  max-height: 300px;
}

.ant-card-bordered {
  vertical-align: top;
}